<% @products.each do |e| %>
    <p>
        商品名：<%= e.name %>
        <%= e.price %>円
        <%= link_to '削除', product_path(e), method: :delete %>
        <%= link_to 'カートに追加', new_cartitem_path(product_id: e.id) %>
    </p>
<% end %>

<p>
    <%= link_to '商品登録', new_product_path %>
</p>
<p>
    <%= link_to 'カートを見る', cart_path(current_cart.id) %>
</p>